@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar for Apple-like aesthetic */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 rounded-full hover:bg-zinc-400 transition-colors;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bg-grid-pattern {
  background-image: radial-gradient(rgba(15, 23, 42, 0.035) 1.5px, transparent 1.5px);
  background-size: 24px 24px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}